<div class="container">
  <div class="inputs-container">
    <div class="option">
      <h1>
        Seed
      </h1>
      <input type="text"
      [(ngModel)]="entry"
      />
    </div>
    <div class="option">
      <h1>
        Algorithm
      </h1>
      <select [(ngModel)]="selectedAlgorithm"> <!-- Enlace bidireccional al select -->
        <option>FIFO</option>
        <option>SC</option>
        <option>MRU</option>
        <option>RND</option>
      </select>
    </div>
    <div class="option">
      <h1>
        # Processes
      </h1>
      <select [(ngModel)]="selectedProcesses"> <!-- Enlace bidireccional al select -->
        <option>Default</option>
        <option>10</option>
        <option>50</option>
        <option>100</option>
      </select>
    </div>
    <div class="option">
      <h1>
        # Operations
      </h1>
      <select [(ngModel)]="selectedOperations"> <!-- Enlace bidireccional al select -->
        <option>Default</option>
        <option>500</option>
        <option>1000</option>
        <option>5000</option>
      </select>
    </div>
    <div class="option">
      <h1>
        File
      </h1>
      <div class="file-upload">
        <input type="file" id="fileInput">
        <label for="fileInput" class="file-label">Load file</label>
      </div>
    </div>
    <div class="image-container">
      <img src="../assets/icons8-play.png" alt="" class="play-button" (click)="getData()">
    </div>
  </div>
</div>
