.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  gap: 20px;
  padding: 20px;
}

input,
select {
  width: 60%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
  padding-left: 4px;
}

input {
  padding-left: 8px;
}

.option {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
}

input[type="file"] {
  display: none;
}

.file-upload {
  width: 60%;
  height: 30px;
}

.file-label {
  display: block;
  padding: 8px 4px;
  background-color: #11a2a4;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-size: 12px;
}

.image-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  width: 100%;
}
