<div class="container">
  <div class="main-content">

    <div class="options">
      @if(running){
        <img src="../../assets/icons8-stop-60.png" alt="" (click)="stopSimulation()">
      }@else{
        <img src="../../assets/icons8-start-60.png" alt="" (click)="startSimulation()">
      }
      <div class="clock-container">
        <div class="each-clock">
          <p class="time">
            {{actualClock}}
          </p>
          <img src="../../assets/icons8-clock-50.png" alt="">
        </div>
        <div class="each-clock">
          <p class="time">
            {{actualOptClock}}
          </p>
          <img src="../../assets/icons8-clock-50.png" alt="">
        </div>
      </div>
    </div>

    <div class="stats">
      @if(getTrashingPercentage() > 50){
        <div class="each-stat" style="background-color: red">
          <p>Trashing</p>
          <p>{{actualTrashing}} / {{getTrashingPercentage()}}% </p>
        </div>
      }@else{
        <div class="each-stat" [style.backgroundColor]="statsAlgColor">
          <p>Trashing</p>
          <p>{{actualTrashing}} / {{getTrashingPercentage()}}% </p>
        </div>
      }
      <div class="each-stat" [style.backgroundColor]="statsAlgColor">
        <p>RAM</p>
        <p>{{actualMemUsg}}KB / {{getRamPercentage()}}%</p>
      </div>
      <div class="each-stat" [style.backgroundColor]="statsAlgColor">
        <p>VRAM</p>
        <p>{{actualVirtualMemUsg}}KB / {{getVRamPercentage()}}%</p>
      </div>
      <div class="each-stat" [style.backgroundColor]="statsAlgColor">
        <p>Fragmentation</p>
        <p>{{actualFragmentation}}KB</p>
      </div>
    </div>

    <div class="alg">
      <div class="left">
        <h1> RAM (FIFO)</h1>
        <div class="grid-container">
          @for (item of loadedPages; track $index) {
            <div class="grid-item" [style.backgroundColor]="this.ramColors[$index]"></div>
          }
        </div>
      </div>
      <div class="process-list">
        <div class="headers">
          <p>Page ID</p>
          <p>PID</p>
          <p>Loaded</p>
          <p>MADR</p>
          <p>DADR</p>
        </div>
        @for (log of visibleLogs; track log; let i = $index) {
          @for(item of log; track item; let j = $index) {
            <div class="each" [style.backgroundColor]="getLoadedColor(processIds[i])">
              <p>{{item.id}}</p>
              <p>{{processIds[i]}}</p>
              <p>{{item.onRam}}</p>
              <p>{{item.segmentDir}}</p>
              <p>{{pointers[i]}}</p>
            </div>
          }
        }
      </div>
    </div>

    <div class="alg">
      <div class="left">
        <h1> RAM (OPT)</h1>
        <div class="grid-container">
          @for (item of loadedPages; track $index) {
            <div class="grid-item" [style.backgroundColor]="this.ramOptColors[$index]"></div>
          }
        </div>
      </div>
      <div class="process-list">
        <div class="headers">
          <p>Page ID</p>
          <p>PID</p>
          <p>Loaded</p>
          <p>MADR</p>
          <p>DADR</p>
        </div>
        @for (log of visibleOptLogs; track log; let i = $index) {
          @for(item of log; track item; let j = $index) {
            <div class="each" [style.backgroundColor]="getLoadedColorOPT(processIds[i])">
              <p>{{item.id}}</p>
              <p>{{processIds[i]}}</p>
              <p>{{item.onRam}}</p>
              <p>{{item.segmentDir}}</p>
              <p>{{pointers[i]}}</p>
            </div>
          }
        }
      </div>
    </div>

    <div class="stats">
      @if(getOptTrashingPercentage() > 50){
        <div class="each-stat" style="background-color: red">
          <p>Trashing</p>
          <p>{{actualOptTrashing}} / {{getOptTrashingPercentage()}}% </p>
        </div>
      }@else{
        <div class="each-stat" [style.backgroundColor]="statsOptColor">
          <p>Trashing</p>
          <p>{{actualOptTrashing}} / {{getOptTrashingPercentage()}}% </p>
        </div>
      }
      <div class="each-stat" [style.backgroundColor]="statsOptColor">
        <p>RAM</p>
        <p>{{actualOptMemUsg}}KB / {{getOptRamPercentage()}}%</p>
      </div>
      <div class="each-stat" [style.backgroundColor]="statsOptColor">
        <p>VRAM</p>
        <p>{{actualOptVirtualMemUsg}}KB / {{getOptVRamPercentage()}}%</p>
      </div>
      <div class="each-stat" [style.backgroundColor]="statsOptColor">
        <p>Fragmentation</p>
        <p>{{actualOptFragmentation}}KB</p>
      </div>
    </div>

  </div>
</div>

