<div class="container">
  <div class="main-content">

    <div class="options">
      <img src="../../assets/icons8-start-60.png" alt="">
      <div class="clock-container">
        <p class="time">
          {{time}}
        </p>
        <img src="../../assets/icons8-clock-50.png" alt="">
      </div>
    </div>

    <div class="stats">
      <div class="each-stat">
        <p>Trashing</p>
        <p>10s / 50%</p>
      </div>
      <div class="each-stat">
        <p>RAM</p>
        <p>100KB / 0%</p>
      </div>
      <div class="each-stat">
        <p>VRAM</p>
        <p>100KB / 0%</p>
      </div>
      <div class="each-stat">
        <p>Fragmentation</p>
        <p>100MB</p>
      </div>
    </div>

    <div class="alg">
      <div class="left">
        <h1> RAM (FIFO)</h1>
        <div class="grid-container">
          @for (item of getLoadedPages; track $index) {
            <div class="grid-item" [style.backgroundColor]="getLoadedColor($index)"></div>
          }
        </div>
      </div>
      <div class="process-list">
        <div class="headers">
          <p>Page ID</p>
          <p>PID</p>
          <p>Loaded</p>
          <p>MADR</p>
          <p>DADR</p>
        </div>
        @for (log of visibleLogs; track $index) {
          <div class="each" [style.backgroundColor]="getLoadedColor($index)">
            <p>1</p>
            <p>1</p>
            <p>{{$index}}</p>
            <p>Yes</p>
            <p>Yes</p>
          </div>
        }
      </div>
    </div>

    <div class="alg">
      <div class="left">
        <h1> RAM (OPT)</h1>
        <div class="grid-container">
          @for (item of getLoadedPages; track $index) {
            <div class="grid-item" [style.backgroundColor]="getLoadedColorOPT($index)"></div>
          }
        </div>
      </div>
      <div class="process-list">
        <div class="headers">
          <p>Page ID</p>
          <p>PID</p>
          <p>Loaded</p>
          <p>MADR</p>
          <p>DADR</p>
        </div>
        @for (log of visibleOptLogs; track $index) {
          <div class="each" [style.backgroundColor]="getLoadedColorOPT($index)">
            <p>1</p>
            <p>1</p>
            <p>{{$index}}</p>
            <p>Yes</p>
            <p>Yes</p>
          </div>
        }
      </div>
    </div>

  </div>
</div>

